name: CI

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup javascript env
        uses: ./.github/actions/setup-js

  lint:
    name: Lint
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup javascript env
        uses: ./.github/actions/setup-js
      - name: Install foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Codegen
        run: pnpm wagmi generate
      - name: Check types
        run: pnpm tsc
      - name: Lint
        run: pnpm lint


  build:
    name: Build
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup javascript env
        uses: ./.github/actions/setup-js
      - name: Build
        run: pnpm build
      
  test:
    name: Test
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup javascript env
        uses: ./.github/actions/setup-js
      - name: Install foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Codegen
        run: pnpm wagmi generate
      - name: Run tests
        run: pnpm run test
        env:
          VITE_ANVIL_FORK_URL: ${{ secrets.VITE_ANVIL_FORK_URL }}
          VITE_ANVIL_BLOCK_NUMBER: ${{ secrets.VITE_ANVIL_BLOCK_NUMBER }}

